<div class="d-flex flex-column align-items-center">
    <section class="card">
      <div class="d-flex flex-column align-items-center">
        <h2 class="getBlogtitle">{{blog.title}}</h2>                  
          <p class="getBlogContent">{{blog.content}}</p>
     
      <div class="d-flex flex-column align-items-center">
          <h4>Author: {{blog.user.name}}</h4>
          <h5>Created at: {{format_date blog.blog_date}}</h5>
      </div>
      <a class="navbarButton commentBtn" href="">Comment</a> 
      </div>     
    </section>    
</div>

